@import "./styles/mixins";
@import "./styles/reset";

html {
  font-size: 62.5%;
}

html[data-theme="light"] {
  --black-color: rgb(41, 40, 40);
  --light-color: rgb(245 244 234);
  --green-color: #257A3D;
}

html[data-theme="dark"] {
  --black-color: rgb(41, 40, 40);
  --light-color: rgb(245 244 234);
}

#root {
  width: 100vw;
  height: 100vh;
}
